table {
  border-collapse: collapse;
}

tr {
  border: 1px solid;
  height: 35px;
  padding: 0;
}

td {
  border: 1px solid;
  width: 35px;
  padding: 0;
}

#game, #side {
  box-sizing: border-box;
  float: left;
  width: 50%;
}

#game>table {
  background-image: url(img/tex.png);
}

.stone {
  user-select: none;
  font-size: 24pt;
  line-height: 12pt;
}