body{
  padding: 2em;
}

.board-row::after {
  clear: both;
  content: "";
  display: table;
}

.cell {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24pt;
  font-weight: bold;
  line-height: 35px;
  height: 35px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 35px;
}

.cell:focus {
  outline: none;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

#game {
  flex-grow: 1;
}

#side {
  flex-grow: 3;
  flex-basis: 30%;
}