body{
  padding: 2em;
}

.board-row {
  display: flex;
  flex-flow: row nowrap;
}

.cell {
  user-select: none;
  background-color: #fff;
  border: 1px solid #888;
  margin-right: -1px;
  margin-top: -1px;
  line-height: 30pt;
  height: 30pt;
  width: 30pt;
  text-align: center;
}

.cell:focus {
  outline: none;
}

.stone {
  font-size: 24pt;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

#game {
  flex-grow: 1;
}

#side {
  flex-grow: 3;
  flex-basis: 30%;
}