body{
  padding: 2em;
}

table {
  border-collapse: collapse;
}

tr {
  border: 1px solid;
  height: 35px;
  padding: 0;
}

td {
  border: 1px solid;
  width: 35px;
  padding: 0;
}

.stone {
  user-select: none;
  font-size: 24pt;
  line-height: 12pt;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

#game {
  flex-grow: 1;
}

#side {
  flex-grow: 3;
  flex-basis: 30%;
}